/*----------------------------------------- Inicio estilo Navbar -----------------------------------------*/
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 40px;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: right;
  }
  
  nav li a {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: #000;
  }

  .active {
    background-color: #e0bf02;
  }

/*----------------------------------------- Fin estilo Navbar -----------------------------------------*/
/*----------------------------------------- Inicio estilo Main -----------------------------------------*/
main {
  padding: 50px 40px 50px 40px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------------------------------- Fin estilo Main -----------------------------------------*/
/*----------------------------------------- Inicio estilo Footer -----------------------------------------*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color: white;
    text-align: right;
  }
footer p {
    padding: 0px 40px;
}
/*----------------------------------------- Fin estilo Footer -----------------------------------------*/