/*----------------------------------------- Inicio estilo Navbar -----------------------------------------*/
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  header div{
    background-color: #333;
  }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 40px;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: right;
  }
  
  nav li a {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: #000;
  }

  .active {
    background-color: #e0bf02;
  }

/*----------------------------------------- Fin estilo Navbar -----------------------------------------*/
/*----------------------------------------- Inicio estilo Main -----------------------------------------*/
main {
  padding: 50px 40px 50px 40px;
}
* {
    font-family: 'Courier New', Courier, monospace;
}
/*----------------------------------------- Fin estilo Main -----------------------------------------*/
/*----------------------------------------- Inicio estilo Index -----------------------------------------*/

div.polaroid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
}

div.container {
  text-align: center;
  align-items: baseline;
  padding: 10px 20px;
}



#intro {
  width: 50%;
  margin: 5%;
}
#intro p {
  text-align: justify;
}
#intro a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#intro a:hover {
  color: #e0bf02;
}

#landing {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

/*----------------------------------------- Fin estilo Index -----------------------------------------*/
/*----------------------------------------- Inicio estilo Search -----------------------------------------*/
#divSearch {
  text-align: center;
}

input {
  border: 2px solid darkgray;
}
select {
  border: 2px solid darkgray;

}

#anyo {

  width: 30px;
}
#div2 {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: grid;
}

#div2 a {
  text-decoration: none;
  color: #000;
}

#div2 a:hover {
  color:  #e0bf02;
}

#favorito:hover{
  color: red;
}

/*----------------------------------------- Inicio estilo Search -----------------------------------------*/
/*----------------------------------------- Inicio estilo Favorites -----------------------------------------*/
#divFavoritos {
  text-align: center;
}

#peliFavorita {
  display: flex;
}
#peliFavoritaPoster img {
  width: 200px;
}
#peliFavoritaDatos {
  text-align: left;
  margin: 0px 20px 0px 20px ;
}
/*----------------------------------------- Fin estilo Favorites -----------------------------------------*/
/*----------------------------------------- Inicio estilo Footer -----------------------------------------*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color: white;
    text-align: right;
  }
footer p {
    padding: 0px 40px;
}
/*----------------------------------------- Fin estilo Footer -----------------------------------------*/